@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");

.outer {
  font-family: sans-serif;
  height: 100vh;
  background-color: black;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.special-font {
  font-family: "Special Elite", cursive;
}
.profil {
  color: white;
  height: 250px;
}

.name {
  font-size: 3rem;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
